.result .image {
    max-width: 33%px;
    height: 250px;
    background-image: url("test.jpg");
    background-size: cover;
    background-position: center;
}

.result .text {
    background-color: rgb(237, 237, 237);
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#churros {
    position: fixed;
    bottom: 0;
    width: 453px;
    height: 480px;
    left:3%;
}


.result {
    width: 33%px;
    height: 300px;
}

.container {
    margin-top: 5vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /*grid-template-rows: auto auto auto; */
    gap: 50px 10px;

}

footer {
    width: 100%;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    height: 75px;
}

footer p {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    margin: 25px


}

#uploadedImg {
    width:intrinsic;
    height:intrinsic;
    max-width: 250px;
    max-height: 250px;
}